In [21]:
import pandas as pd
import requests

In [22]:
df2=pd.read_csv("Geospatial_Coordinates.csv")

In [23]:
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
df3=pd.read_csv("xyz.csv")

In [25]:
df3

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M1B,Scarborough,Malvern / Rouge
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill
3,3,M1G,Scarborough,Woburn
4,4,M1H,Scarborough,Cedarbrae
...,...,...,...,...
98,98,M9N,York,Weston
99,99,M9P,Etobicoke,Westmount
100,100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...
101,101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
102,102,M9W,Etobicoke,Northwest

In [26]:
df4=pd.concat([df3,df2],axis=1)
df4

,Unnamed: 0,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,0,M1B,Scarborough,Malvern / Rouge,M1B,43.806686,-79.194353
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,M1C,43.784535,-79.160497
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,M1E,43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...,...
98,98,M9N,York,Weston,M9N,43.706876,-79.518188
99,99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,M9R,43.688905,-79.554724
101,101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,M9V,43.739416,-79.588437
102,102,M9W,Etobicoke,Northwest,M9W,43.706748,-79.594054

In [27]:
df4.drop(['Unnamed: 0','Postal Code'],axis=1,inplace=True)

In [28]:
df4

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724
101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [29]:
df4.to_csv("Latitude and Logitude Table.csv")